@model HandsOnHeplerMethods.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    @using(Html.BeginForm())
	{
	<table class="table table-bordered" style="height:auto">
		<tr>
			<td>First Name</td>
			<td>@Html.TextBox("Fname")</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td>@Html.TextBox("Last")</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>
				Male @Html.RadioButton("Gender", false)
				FeMale @Html.RadioButton("Gender", false)
			</td>
		</tr>
		<tr>
			<td>EmailId</td>
			<td>@Html.TextBox("EmailId", "", new { type = "email" })</td>
		</tr>
		<tr>
			<td>EmailId</td>
			<td>@Html.TextBox("Mobile", "", new { type = "number" })</td>
		</tr>
		<tr>
			<td>DOB</td>
			<td>@Html.TextBox("Last", "", new { type = "date" })</td>
		</tr>
		<tr>
			<td>Country</td>
			<td>@Html.DropDownList("Country", new SelectList(new string[] { "India", "US", "UK" }))</td>
		</tr>
		<tr>
			<td>Username</td>
			<td>@Html.TextBox("Uname")</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>@Html.Password("Pwd")</td>
		</tr>
		<tr>
			<td colspan="2">
			@Html.CheckBox("accept",false) <span class="text-primary">Accept All terms and Conditions</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Register" />
			</td>
		</tr>
	</table>
	}
</div>